* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
}

/*! UTILITY */
body,
html {
	height: 100%;
	/* background-color: rgb(39, 39, 39, 0.65); */
	position: relative;
}

html {
	scroll-behavior: smooth;
}

.flex {
	display: flex;
}

.justify-sb {
	justify-content: space-between;
}

.align-cent {
	align-items: center;
}

.column {
	flex-direction: column;
}

/*! NAVIGATION BAR */
nav {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	color: white;
	font-size: 18pt;
	padding: 20px 50px;
	z-index: 5;
	/* background-color: rgb(39, 39, 39, 0.4);
	box-shadow: 0px 4px 50px 10px black; */
}

	.nav-left {
		gap: 10px;
		padding: 10px;
		height: 68px;
		width: 454px;
		border-radius: 10px;
		z-index: 5;
	}

		.home-link {
			text-decoration: none;
			font-size: 20pt;
			color: white;
			border: 2px solid white;
			border-radius: 4px;
			padding: 5px;
		}

		.social-link > img {
			height: 46px;
		}

	.nav-links {
		gap: 30px;
		padding: 20px 10px;
		border-radius: 10px;
	}

		.nav-links a {
			text-decoration: none;
			color: white;
		}

		.nav-links a:hover {
			text-decoration: underline;
		}

		.nav-links a:active {
			text-decoration: underline;
			color: black;
		}

.nav-box-shadow {
	background-color: rgb(39, 39, 39, 0.4);
	box-shadow: 0px 4px 50px 10px black;
}

/*! HEADER SECTION */
.parallax-container {
	position: relative;
	width: 100%;
	background-image: url("./images/header-img1.png");
	min-height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

	.foreground {
		position: absolute;
		left: 0;
		top: 36%;
		width: 100%;
		margin: 0 auto;
	}

		.introduction {
			align-items: center;
			color: white;
		}

			h1 {
				font-size: 5em;
				width: fit-content;
				height: 100%;
				padding: 0 10px;
				text-shadow: #000000 0px 0px 60px;
				/* border: 2px solid white; */
			}

			h2 {
				font-size: 1.5em;
				width: fit-content;
				font-weight: 400;
				height: 100%;
				text-shadow: #000000 0px 0px 60px;
			}

/*! ABOUT SECTION */
#about-section {
	position: relative;
	width: 100%;
	background-image: url("./images/ColemanCharcoal_bw_WEB.jpg");
	min-height: 100%;
	background-attachment: fixed;
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
}

	#about-section>div {
		height: 100%;
		margin-left: 10%;
		width: 600px;
		padding-top: 25vh;
	}

		.about-head-para {
			border: 4px solid black;
			padding: 10px 30px 30px 30px;
		}

		.about-me-heading {
			font-size: 6em;
			margin-bottom: 20px;
		}

		.about-me-para {
			font-size: 1.5em;
			line-height: 30px;
		}

#experience-section {
	height: 5000px;
	background-color: lightgrey;
}