* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
}

body,
html {
	height: 100vh;
	background-color: rgb(39, 39, 39);
}

.flex {
	display: flex;
}

.justify-sb {
	justify-content: space-between;
}

nav {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	color: white;
	font-size: 18pt;
	padding: 20px 100px;
	z-index: 55;
}

nav > p {
	border: 1px solid white;
	padding: 5px;
	/* box-shadow: black 0px 0px 10px;
	text-shadow: black 0px 0px 5px;
	font-weight: 600; */
}

.nav-links {
	gap: 30px;
}

.nav-links a {
	text-decoration: none;
	color: white;
	/* text-shadow: black 0px 0px 15px; */
}

.parallax-container {
	position: absolute;
	width: 100%;
	background-image: url("./images/19606.jpg");
	min-height: 1040px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.foreground {
	position: sticky;
	top: 0px;
	width: 100%;
	margin-left: 10%;
	margin-bottom: 100px;
	transform-origin: 0;
	transform: translateZ(3px) scale(0.625);
}

.introduction {
	text-align: center;
	color: white;
	position: sticky;
	top: 0px;
	margin-top: 300px;
}

h1 {
	font-size: 8em;
	width: fit-content;
	padding: 10px 30px;
	height: 100%;
	z-index: 5;
	text-shadow: #2d7fd7 0px 0px 60px;
}

h2 {
	font-size: 3.5em;
	width: fit-content;
	padding: 10px 30px;
	height: 100%;
	text-shadow: #2d7fd7 0px 0px 60px;
}

#about {
	height: 5000px;
	padding-top: 1090px;
	color: white;
	text-align: center;
}
